<!DOCTYPE HTML>
<html>
<head>
    <title>Лабораторная работа 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery.json.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
<aside class="cover">
    <div class="cover__content">
        <div class="content__introduction">
            <div class="introduction__content">
                <h1 class="introduction__title"><a href="index.html">Анастасия<br/>Сахарова</a></h1>

                <p class="introduction__text">
                    Недостудент, недоверстальщик, недомузыкант<br/> Ну, в общем, вы поняли
                </p>
            </div>
        </div>
    </div>
</aside>
<div class="wrapper">

    <form action="/api" method="POST">
        <input type="text" name="test" value="olo">
        <button type="submit">asd</button>
    </form>
    <div class="wrapper__content">
        <ul class="content__menu">
            <li>
                <a href="index.html">Me</a>
            </li>
            <li>
                <a href="bio.html" class="menu__item__active">Bio</a>
            </li>
            <li class="menu__level">
                <a href="contacts.html">Contacts</a>
            </li>
        </ul>
        <div class="content__main">
            <div class="new__post">
                <a href="#" class="new__post__button">New post</a>
            </div>
            <div class="content__bio">
                <table class="content__bio_table">
                    <#list bioList as b>
                        <tr class="bio_table__row">
                            <td class="bio_table__year">
                                <span class="line__year">${b.year}</span>
                                <span class="line__month">${b.month}</span>
                                <input type="text" placeholder="Year" maxlength="4" class="line__year__editor">
                                <input type="text" placeholder="Month" maxlength="2" class="line__month__editor">
                            </td>
                            <td class="bio_table__event">
                                <span class="line__event">${b.text}</span>
                                <textarea placeholder="Input an event" class="line__event__editor"></textarea></td>
                            <td class="bio_table__buttons">
                                <a href="#" class="line__buttons__edit">Редактировать</a>
                                <a href="#" class="line__buttons__save">Сохранить</a>
                                <br>
                                <a href="#" class="line__buttons__delete">Удалить</a>
                            </td>
                        </tr>
                    </#list>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>