<!DOCTYPE HTML>
<html>
	<head>
		<title>Лабораторная работа 3</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
		<aside class="cover">
			<div class="cover__content">
				<div class="content__introduction">
					<div class="introduction__content">
						<h1 class="introduction__title"><a href="index.html">Анастасия<br />Сахарова</a></h1>
						<p class="introduction__text">
							Недостудент, недоверстальщик, недомузыкант<br /> Ну, в общем, вы поняли
						</p>
					</div>
				</div>
			</div>
		</aside>
		<div class="wrapper">
			<div class="wrapper__content">
				<ul class="content__menu">
					<li>
						<a href="index.html">Me</a>
					</li>
					<li>
						<a href="bio.html">Bio</a>
					</li>
					<li class="needed">
						<a href="contacts.html" class="menu__item__active">Contacts</a>
                        <ul class="pseudo_menu">
                            <li><a>item 1</a></li>
                            <li><a>item 2</a></li>
                            <li><a>item 3</a></li>
                        </ul>
					</li>
				</ul>
				<div class="content__main">
					<div class="content__contacts">
						<dl class="contacts__list">
					        <dt>
					            Телефон:
					        </dt>
					        <dd>
					            8 (982) 64 11 436
					        </dd>
					        <dt>
					            Email
					        </dt>
					        <dd>
					            <a href="mailto:elliot.wrt@gmail.com?subject=Отклик%20на%20резюме">elliot.wrt@gmail.com</a>
					        </dd>
					        <dt>
					            Skype
					        </dt>
					        <dd>
					            <a href="skype:elliotwatson23?call">elliotwatson23</a>
					        </dd>
					    </dl>
					</div>
                    <img src="http://i.imgur.com/FZbwnM0.gif" />
				</div>
			</div>
		</div>
	</body>
</html>