<!DOCTYPE HTML>
<html>
	<head>
		<title>Лабораторная работа 3</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
		<aside class="cover">
			<div class="cover__content">
				<div class="content__introduction">
					<div class="introduction__content">
						<h1 class="introduction__title"><a href="index.html">Анастасия<br />Сахарова</a></h1>
						<p class="introduction__text">
							Недостудент, недоверстальщик, недомузыкант<br /> Ну, в общем, вы поняли
						</p>
					</div>
				</div>
			</div>
		</aside>
		<div class="wrapper">
			<div class="wrapper__content">
				<ul class="content__menu">
					<li>
						<a href="index.html" class="menu__item__active">Me</a>
					</li>
					<li>
						<a href="bio.html">logic.Bio</a>
					</li>
					<li  class="needed">
						<a href="contacts.html">Contacts</a>
                        <ul class="pseudo_menu">
                            <li><a>item 1</a></li>
                            <li><a>item 2</a></li>
                            <li><a>item 3</a></li>
                        </ul>
					</li>
				</ul>
				<div class="content__main">
					<div class="main__me cf">
					    <h3 class="content__title">Навыки</h3>
					    <ul class="info_list">
					        <li>
					                Знание HTML/CSS на высоком уровне
					        </li>
					        <li>
					                Опыт кроссбраузерной верстки в соответствии с макетом, знакомство с особенностями браузеров
					        </li>
					        <li>
					                Умение читать чужой код
					        </li>
					        <li>
					                Основы БЭМ, OOCSS
					        </li>
					        <li>
					                Начальные навыки разработки серверной части веб-приложений (в данный момент работаю над проектом,
					                который можно посмотреть <a href="https://github.com/tenebricosa/internet/ style.00">здесь</a>)
					        </li>
					        <li>
					                Основы Adobe Photoshop
					        </li>
					        <li>
					                Начальный навык работы с Git
					        </li>
					        <li>
					                Свободное владение английским языком
					        </li>
					    </ul>
					    <ul>
					        <li>
					                Продвинутое знание языка и функций Matlab для алгоритмизации математических вычислений
					        <li>
					                Основы функционального программирования
					        </li>
					        <li>
					                Основы C, C++, Java
					        </li>
					        <li>
					                Знание семейства Windows на продвинутом уровне, начальные навыки работы с GNU/Linux
					        </li>
					        <li>
					                Опыт работы в AutoCad
					        </li>
					        <li>
					                Умение гуглить возникающие проблемы
					        </li>
					        <li>
					                Высокая обучаемость и 4 сессии, закрытых на отлично
					        </li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>